{{ form_start(form) }}

    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.capacity, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.horsepower, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.torque, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.rpm, {'attr': {'class': 'form-control'}}) }}


    <button class="btn btn-warning mt-5 mb-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
