{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    {% for car in cars %}
        <a href="{{ path('car_show', {id: car.id}) }}">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="width: 300px!important;"
                             src="{{ asset('uploads/photos/') }}{{ car.photoName ? car.photoName : 'no-image-found.png' }}"
                             alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.make }}</h5>
                            <p class="card-text">{{ car.description }}</p>
                            <p class="card-text"><small
                                        class="text-muted">{{ car.price/100|number_format(2, '.', ' ') }} PLN</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% else %}
        <div class="container">
            <h2>No records found...</h2>
        </div>
    {% endfor %}

    <a href="{{ path('car_new') }}">Create new</a>
{% endblock %}
